html, body {
  margin: 0;
  padding: 0;
  color: black;
}

/*standard canvas*/
canvas {
  display: block;
}


/*add this class to canvas that is 50% window width to center it*/
canvas.centered{
  display:inline-block;
  margin:auto;
  position:absolute;
  left:25%;
}

/*add this class to canvas to position it using left and top properties*/
canvas.positioned{
  display:inline-block;
  margin:auto;
  position:absolute;
  left:500px;
  top:300px;
}

/*wrap HTML in this class to overlay it on a standard p5 canvas*/
.overlay{position:absolute; top:0; left:0; color:rgb(0, 0, 0); font-size: small; background-color: blanchedalmond; font-family: Arial, Helvetica, sans-serif;}

/*wrap HTML in this class to center it above p5 canvas*/
.above-center{text-align:left; font-family:Arial, Helvetica, sans-serif; font-weight: bold;}

/*sets link color to pink*/
a{color:rgb(48, 1, 9);}
